@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat?query=montserr);
}

/* Universal selectors --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: large;
}

/* Global styles --------------------------------------------- */

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--grey)
}

p {
    color: var(--grey);
    font-size: 15px;
}

.section-jackets {
    border: var(--blue) 2px solid;
    padding: 15px;
    font-size: 16px;
    max-width: 650px;
    margin: 30px;
    background-color: var(--white);
}

select {
    font-size: 16px;
}

label {
    font-size: 18px;
}

#shopping-cart {
    font-size: 25px;
}

#shopping-cart:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform 500ms;
}

h1 {
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

main {
    background-color: var(--lightgrey);
}

.current {
    border-bottom: 2px solid var(--grey);
}

/* CSS Variables --------------------------------------------- */

:root {
    --lightgrey: rgba(243, 239, 239, 0.753);
    --grey: rgb(58, 57, 57);
    --white: #FFF;
    --blue: #1a3b58;
    --orange: #F47502;
    --green: #0dd82f;
}

/* Header --------------------------------------------- */

header {
    position: relative;
    display: flex;
    max-width: 1300px;
    margin: auto;
    border: solid 1px var(--blue);
    align-items: center;
    text-align: right;
    padding: 10px;
    min-height: 100px;
}

.logo {
    width: 130px;
}

nav {
    flex: 1;
}

nav li {
    display: inline-block;
    margin: 0px 20px;
}

header #hamburger-menu,
header label {
    display: none;
}

.cartLink:hover {
    text-decoration: none;
}

/* Men, Women --------------------------------------------- */

.h1-categories {
    margin: 30px;
}



/* Top search bar --------------------------------------------- */

.top-search-bar {
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    padding: 10px;
    color: #FFF;
    align-items: center;
}

.search-box {
    border: none;
    padding: 3px;
    width: 300px;
    margin: 0px 10px;
    border-radius: 8px;
    font-size: 15px;
}

#top-search-icon {
    font-size: 26px;
    color: var(--white);
}

#top-search-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

/* Index --------------------------------------------- */

main {
    border: 1px solid var(--blue);
    max-width: 1300px;
    margin: auto;
    min-height: 100vh;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--grey);
}

h2 {
    font-size: 22px;
    margin: 10px;
}

.category-link {
    margin: 10px 30px 30px 30px;
    display: block;
    border-bottom: 1px solid var(--grey);
}


main .category-heading {
    color: var(--grey);
}

.category-heading:hover {
    text-decoration: underline;
}

.current-page {
    text-align: left;
}

.productShortDescription {
    max-width: 260px;
}



/* Add-wrapper --------------------------------------------- */

.add-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

/* Add-1 --------------------------------------------- */

.add-1 {
    flex-basis: 100%;
    display: flex;
    background-color: var(--blue);
    min-height: 450px;
    border: 1px solid var(--blue);
    margin: 30px;
}

.add-1-image img {
    flex: 2;
    max-height: 450px;
    min-width: 100%;
    display: block;
}

.add-1-box-1 {
    flex: 2;
}

.add-1-box-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-1-box-2 h2 {
    font-weight: 600;
    margin: 30px 20px;
    color: var(--white);
}

.add-1-box-2 a:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* Adds, Small --------------------------------------------- */

.add-type-2 {
    word-wrap: break-word;
    flex: 1;
    /* display: flex; */
    margin: 10px;
    padding: 20px 10px;
    border: solid 1px var(--blue);
    min-height: 430px;
    max-width: 280px;
    min-width: 280px;
    flex-direction: column;
    /* transition: transform 0.1s; */
    background-color: var(--white);
}

.add-type-2 p,
.add-type-2 i {
    margin: 5px 0px 0px;
}

h3 {
    margin-bottom: 5px;
}

.jacket-pictures {
    display: block;
    max-height: 350px;
    margin: 0 auto;
}

div .fa-star,
div .fa-star-half-alt {
    color: var(--orange);
}

.add-type-2:hover {
    /* transform: scale(1.01); */
}

/* Details --------------------------------------------- */

.current-page {
    margin: 30px;
    color: var(--grey);
}

.product-container {
    /* flex: 1; */
    display: flex;
    margin: 50px;
}

.product-container-box-1,
.product-container-box-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin: 5px;
    background-color: var(--white);
}

.product-container-box-1 {
    flex: 2;
}

.product-container-box-2 {
    flex: 2;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    word-wrap: break-word;
}

.product-container-box-2 h2 {
    text-align: left;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.product-container-box-2 p:last-child {
    border: solid 1px black;
    padding: 10px;
    align-self: flex-end;
    background-color: var(--white);
    max-width: 100%;
}

.product-col-1 {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    align-items: flex-start;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.product-col-1-pictures {
    max-height: 140px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
}

.productColActive {
    border: 1px solid var(--blue);
    
}

.product-jacket-picture {
    max-height: 600px;
    display: block;
    margin: auto;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#size,
#color {
    max-width: 130px;
    border: solid 1px black;
    border-radius: 5px;
}

.cart-product-quantity {
    max-width: 45px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 16px;
}

.cta-1 {
    text-align: center;
    color: black;
    width: 170px;
    padding: 10px;
    background-color: var(--green);
    border-radius: 15px;
    border-style: none;
    border: 2px solid var(--green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.3s;
}

.cta-1:hover {
    text-decoration: none;
    background-color: var(--white);
    border: 2px solid var(--green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.cta-1:active {
    background-color: var(--green);
    scale: 1.1;
}


/* Product info --------------------------------------------- */

.product-info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    margin: 30px;
    background-color: var(--white);
}

.detailsPicture {
    display: block;
}

.product-info ul {
    margin: auto;
}

.product-info li {
    font-size: 15px;
    margin: 5px;
    color: var(--grey);
}

#product-info-list-heading {
    list-style: none;
    font-size: 21px;
    margin: 15px 0px;
}

.product-info img {
    width: 100px;
    margin: 12px auto;
}

/* Related products --------------------------------------------- */

.related-products-container {
    display: flex;
    background-color: var(--lightgrey);
    flex-direction: row;
    margin: 30px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.featured-products-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-evenly;
}



.featured-products-add {
    border: 1px solid var(--blue);
    min-height: 300px;
    max-width: 210px;
    min-width: 210px;
    margin: 20px 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 0.5s;
    background-color: var(--white);
}

.featured-products-add:hover {
    transform: translateY(-5px);
}


.related-jacket-pictures {
    max-width: 180px;
    display: block;
    margin: 0 auto;
}

.read-more {
    font-size: 13px;
}


/* Cart page --------------------------------------------- */

.cart-container {
    margin: 50px 50px 20px;
}

.cart-container {
    flex: 1;
    display: flex;
    margin: 50px;
}

.cart-container-box-1,
.cart-container-box-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin: 5px;
    border: 1px solid var(--grey);
}

.cart-container-box-1 {
    flex: 3;
    background-color: var(--lightgrey);
}

.cart-container-box-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

#proceed-to-checkout {
    margin: 20px;
    font-size: 17px;
    max-height: 80px;
}

td {
    padding: 8px;
}

.cart-container th {
    background-color: var(--blue);
    padding: 20px;
    color: var(--white);
    text-align: left;
}

.cart-container table {
    width: 100%;
}

.cart-container td,
.total-price td {
    font-size: 16px;
}

.cart-product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-product-pictures {
    max-height: 100px;
}

.remove {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.total-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 30px 0px;
}


.total-price table {
    border: solid 1px var(--blue);
    padding: 5px;
}

th:last-child {
    text-align: right;
}

td:last-child {
    text-align: right;
}

td:first-child {
    font-weight: 600;
}

/* Checkout page --------------------------------------------- */

.checkout-container {
    border: 1px solid var(--blue);
    margin: 0px 20px 0px;
    display: flex;
    background-color: var(--blue);
}

.checkout-container-last {
    margin-bottom: 30px;
}

.h3Container {
    background-color: var(--lightgrey);
}


#checkoutH3 {
    margin: 3px 3px;
    background-color: white;
    padding: 10px;
}

#checkoutH3P {
    border: 1px solid var(--grey);
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
}

.checkout-container-box-1,
.checkout-container-box-2,
.checkout-container-box-3  {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--lightgrey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    flex: 1;
}

.checkout-container-box-3-table {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    flex: 1;
}

.checkout-container-box-3 img {
    padding: 2px;
    margin: 0px 3px;
}

.checkout-container-box-3 div {
    background-color: var(--white);
    margin: 3px 5px;
}

.checkout-container h2 {
    color: black;
}

.checkout-container input,
.checkout-container label {
    display: block;
    font-size: 16px;
}

.formInputContainer {
    margin: 0 auto;
    max-width: 90%;
}

.formInputContainer label {
    margin-top: 10px;
}

#cvv {
    max-width: 100px;
}

.cvvLabel {
    text-align: center;
    margin: 0 auto;
}

.checkout-container input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin: 10px auto;
}

.fa-credit-card,
.fa-calendar-alt,
.fa-user {
    margin: 0px 5px;
}

.checkout-container-box-1 i {
    margin-right: 5px;
}

.checkout-container-box-2 button {
    margin: 10px auto;
}

.error {
    color: red;
    border: 2px solid rgb(255, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: none;
}

#checkoutForm {
    display: flex;
}

.formContainer {
    flex: 1;
}

#checkoutConfirmButton {
    display: block;
    margin: 20px auto;
}

.purchaseSuccessful {
    background-color: white;
    border: 1px solid var(--grey);
    margin: 30px;
    padding: 30px;
    font-size: 16px;
    display: none;
}

.purchaseSuccessful p {
    margin-top: 10px;
}

.purchaseSuccessfulParagraph {
    margin-bottom: 30px;
}



/* Account page --------------------------------------------- */

.account-sign {
    border: 1px solid var(--blue);
    max-width: 350px;
    margin: 30px auto;
    background-color: var(--blue);
    color: var(--white);
}

.account-sign input,
.account-sign label,
.account-sign .cta-1 {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 15px;
}

.account-sign input {
    border: 1px solid black;
    border-radius: 5px;
    height: 24px;
}

.account-sign .cta-1 {
    margin: 20px auto;
}

.account-sign p {
    text-align: center;
    margin: 20px;
    color: var(--white);
}

.account-sign h2 {
    color: var(--white);
    font-weight: 600;
}

.account-sign input {
    margin-bottom: 10px;
}

.account-main {
    min-height: auto;
}

/* Contact page --------------------------------------------- */

.contact-form {
    border: 1px solid var(--blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 30px auto;
    background-color: var(--blue);
    color: var(--white);
}

.contact-form a {
    margin: 20px auto;
}

.contact-form h2,
.contact-form p,
.contact-form h3 {
    color: var(--white);
    margin: 10px;
}

.contact-form input,
.textarea-1 {
    margin-top: 2px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

.contact-form input {
    margin: 0 auto;
}

.contact-main {
    min-height: auto;
}

.email-box {
    margin: 20px auto;
}

.email-label,
.message-label {
    display: block;
    margin: 2px;
    font-size: 16px;
}

.email-error {
    border: 2px solid red;
    background-color: rgba(243, 38, 38, 0.5);
    width: 200px;
    height: 30px;
    margin: 0 auto;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    display: none;
}

#contact-button {
    margin: 20px auto;
    width: 100px;
    height: 35px;
}

.messageSuccess {
    background-color: var(--green);
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    display: none;
}



/* Footer --------------------------------------------- */

footer {
    display: flex;
    max-width: 1300px;
    margin: auto;
    background: var(--blue);
    min-height: 100px;
    justify-content: space-evenly;
    align-content: center;
    
}

footer ul {
    list-style-type: none;
    margin: 20px;
}

footer a {
    color: var(--white);
    font-size: 14px;
}

footer i {
    color: var(--white);
    margin: 5px;
    font-size: 30px;
}

footer li {
    padding: 3px;
}

.list-heading {
    margin-bottom: 15px;
    color: var(--white);
    font-size: 19px;
}

/* Cart and cart animation --------------------------------------------- */

.numberOfProducts {
    width: 30px;
    height: 30px;
    border-radius: 75%;
    background-color: var(--blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
}

.numberOfProducts p {
    font-size: 18px;
    color: var(--white);
}

.remove {
    max-height: 30px;
    align-self: center;
}

.freeDelivery {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    color: var(--grey);
    border: 1px solid var(--grey);
}



/* Media queries --------------------------------------------- */

@media only screen and (max-width: 930px) {

    .add-1 {
        flex-direction: column;
        padding-bottom: 20px;
    }

    #price {
        margin: 10px 0px;
    }

    .product-container,
    .cart-container {
        flex-direction: column;
    }

    .product-container-box-1,
    .product-container-box-2 {
        order: 1;
    }

    .product-container-box-2 a,
    select {
        margin: 13px 0px;
    }

    .product-col-1 {
        flex-direction: row;
        /* order: 2; */
    }

    .product-col-1-pictures {
        max-height: 140px;
        display: inline-block;
    }

    .product-jacket-picture {
        max-width: 100%;
    }

    .related-products-container {
        flex-wrap: wrap;
    }

    .checkout-container {
        flex-direction: column;
    }

    
}

@media only screen and (max-width: 800px) {

    #checkoutForm {
        flex-direction: column;
    }

    .add-1 img {
        max-width: 100%;
    }

    nav li {
        display: block;
        margin: 15px;
        font-size: 29px;
        border-bottom: 1px solid #ccc;
    }

    nav {
        position: absolute;
        top: 98px;
        right: 0px;
        width: 150px;
        background-color: white;
        border: 1px solid #ccc;
        flex: none;
        display: none;
    }

    header {
        justify-content: space-evenly;
    }

    header label {
        display: block;
    }

    header label i {
        font-size: 30px;
        text-align: right;
        margin: 20px;
    }

    #hamburger-menu:checked~nav {
        display: block;
    }
}

@media only screen and (max-width: 520px) {

    .product-col-1-pictures {
        max-height: 100px;
    }

    .add-1 {
        background-color: var(--blue);
    }

    .add-1 h2 {
        color: var(--white);
    }

    .add-1-box-1 {
        display: none;
    }

    .add-1-box-2 {
        flex: 1;
    }

    .tableHidden {
        display: none;
    }
}

@media only screen and (max-width: 410px) {

    .checkout-container {
        margin: 0px;
    }

    footer {
        flex-direction: column;
    }
}